@model Doris.ViewModel.ShoppingCartViewModel
@{
    ViewBag.Title = "Giỏ hàng của bạn";
    var email = ViewContext.RouteData.Values["MemberEmail"].ToString();
}

@if (email != "")
{
    <section class="notify">
        Nhập hàng giá sỉ, chiết khấu cao đến 60% !
    </section>
    <section class="shopping-cart">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    @if (Model.CartItems.Any())
                    {
                        using (Html.BeginForm())
                        {
                            <div class="my-cart">
                                <div class="scroll-hidden">
                                    @foreach (var cartItem in Model.CartItems)
                                    {
                                        var p = cartItem.Price ?? 0;
                                        var price = cartItem.Count * p;
                                        <div class="cart-item" data-cart-id="@cartItem.RecordId">
                                            <div class="cart-item-details">
                                                @if (cartItem.Product.ListImage != null)
                                                {
                                                    <img src="@Path.Combine("/images/products/", cartItem.Product.ListImage.Split(',')[0])" alt="@cartItem.Product.Name" class="cart-item-img" />
                                                }
                                                <a href="@Url.Action("ProductDetail", "Home", new { url = cartItem.Product.Url })" class="cart-item-name">@cartItem.Product.Name</a>
                                            </div>
                                            <div class="cart-item-price">@Convert.ToDecimal(cartItem.Price).ToString("N0")đ</div>
                                            <div class="cart-item-quantity">
                                                <input type="hidden" name="RecordId" value="@cartItem.RecordId" />
                                                <input type="text" value="@cartItem.Count" min="1" id="number" name="Quantity" class="input-number" maxlength="4" />
                                            </div>
                                            <div class="cart-item-total">@price.ToString("N0")đ</div>
                                            <a href="javascript:;" title="Xóa" class="remove-product" style="color: dimgray" data-id="@cartItem.RecordId">
                                                <i class="fal fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-update"><i class="fa fa-recycle"></i> Cập nhật</button>
                        }
                    }
                    else
                    {
                        <div class="no-cart">
                            <div class="title">Thông tin giỏ hàng</div>
                            <img src="~/Content/images/img-main/giỏ-hàng.png" alt="Giỏ hàng" />
                            <div class="sub-text">Giỏ hàng trống. Mua sắm ngay!</div>
                        </div>
                    }
                </div>
                <div class="col-lg-5 d-flex flex-column justify-content-center">
                    <div class="title-order">
                        Đơn hàng
                    </div>
                    <div class="box-order">
                        <div class="order-info">
                            <div class="name">Số lượng</div>
                            <span class="info">@Model.CartCount</span>
                        </div>
                        <div class="order-info">
                            <div class="name">Tổng tiền hàng</div>
                            <span class="info">@Model.CartTotal.ToString("N0")đ</span>
                        </div>
                        <div class="order-info">
                            <div class="name">Phí vận chuyển</div>
                            @if (Model.CartItems.Any())
                            {
                                <span class="info">30.000đ</span>
                            }
                            else
                            {
                                <span class="info">0đ</span>
                            }
                        </div>
                        <div class="line"></div>
                        <div class="order-info">
                            <div class="name">Tổng cộng</div>
                            <span class="info total-price">@Model.CartTotalShipFee.ToString("N0")đ</span>
                        </div>
                        <a href="@Url.Action("Checkout")" class="btn-order">Đặt hàng</a>
                        <div class="text-center">
                            <a href="@Url.Action("AllProduct", "Home")" class="btn-continue">Tiếp tục mua hàng ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="no-cart no-sign">
        <img src="~/Content/images/img-main/giỏ-hàng.png" alt="Giỏ hàng" />
        <div class="text">Vui lòng <a href="@Url.Action("Login", "User")">đăng nhập</a> để đặt hàng.</div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/jquery.nice-number.js"></script>
    <script>
        $(document).ready(function () {
            $(".input-number").niceNumber();
        });
    </script>
}