@model Doris.ViewModel.ShoppingCartViewModel
@using Doris.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = "Giỏ hàng của bạn";
    Layout = "~/Views/Shared/_LayoutShoppingCart.cshtml";
}

<section class="title-page title-red">
    <div class="container">
        <button onclick="history.back()" class="history-back"><i class="fa-regular fa-arrow-left"></i></button>
        <div class="title">Giỏ hàng</div>
    </div>
</section>
<section class="cart-mb page-pb">
    <div class="container">
        @if (Model.CartItems.Any())
        {
            <div class="media box-notice">
                <i class="fa-light fa-circle-info"></i>
                <div class="media-body">
                    <span>2 phương thức giao hàng</span>
                    <div class="delivery-info"><span>Đơn hàng giao tới bạn</span> là đơn hàng được giao trực tiếp đến địa chỉ mà bạn cung cấp.</div>
                    <div class="delivery-info">
                        <span>Đơn hàng giao tới khách hàng</span> là đơn hàng được Dr Henry đóng gói và giao tới tận tay Khách hàng của bạn. Hoa hồng sẽ được chuyển đến bạn khi đơn hàng hoàn tất.
                    </div>
                </div>
            </div>
            using (Html.BeginForm())
            {
                <label class="delivery-label">
                    <input type="radio" name="Transport" value="1" checked="checked">
                    Đơn Hàng Giao Tới Bạn
                    <span class="checkmark"></span>
                </label>
                <label class="delivery-label">
                    <input type="radio" name="Transport" value="2">
                    Đơn Hàng Giao Tới Khách Hàng
                    <span class="checkmark"></span>
                </label>
                <div class="site-submit">
                    <button type="submit" class="btn-cart">Chuyển tới chi tiết đơn hàng</button>
                </div>
            }
            <div class="title-cart">
                <span class="title">Chi tiết đơn hàng</span>
                <a href="@Url.Action("AllProduct", "Home")">+ Thêm Sản Phẩm</a>
            </div>
            foreach (var cartItem in Model.CartItems)
            {
                var p = cartItem.Price ?? 0;
                var price = cartItem.Count * p;
                <div class="cart-item-mb cart-id" data-cart-id="@cartItem.RecordId">
                    <a href="@Url.Action("ProductDetail", "Home", new { url = cartItem.Product.Url })" class="cart-img">
                        @if (cartItem.Product.ListImage != null)
                        {
                            <img src="@Path.Combine("/images/products/", cartItem.Product.ListImage.Split(',')[0])" alt="@cartItem.Product.Name" />
                        }
                    </a>
                    <div class="cart-body">
                        <div class="cart-top">
                            <div class="product-name">
                                <a href="@Url.Action("ProductDetail", "Home", new { url = cartItem.Product.Url })">
                                    @cartItem.Product.Name
                                </a>
                            </div>
                            <div class="brand-name">@cartItem.Product.Brand.BrandName</div>
                            <div class="price">@Convert.ToDecimal(cartItem.Price).ToString("N0") đ</div>
                        </div>
                        <div class="cart-bottom cart-quantity">
                            <input type="text" value="@cartItem.Count" min="1" id="number" name="quantity" class="input-number" maxlength="4" />
                            <div class="check">
                                <i class="fa-regular fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="remove-product" data-id="@cartItem.RecordId">x</a>
                </div>
            }
            if (Model.TotalFreeShip > 0)
            {
                <div class="warning">
                    <i class="fa-light fa-triangle-exclamation"></i>
                    Bạn còn thiếu +@Model.TotalFreeShip.ToString("N0") đ để được áp dụng mức Giá Sỉ của sản phẩm
                </div>
            }
            <div class="box-price-info">
                <div class="discount-code">
                    <div class="title">
                        <img src="~/Content/images/img-main/discount.png" /> @Model.DiscountCount mã giảm giá khả dụng
                    </div>
                    <button type="button" data-fancybox data-type="ajax" data-touch="false" data-src="@Url.Action("AddDiscount")">
                        Xem thêm
                    </button>
                </div>
                <div class="price-info">
                    <span class="ship-fee">Phí vận chuyển <i class="fa-light fa-circle-exclamation"></i></span>
                    <span class="price">30.000 đ</span>
                </div>
                @if (Model.Discounts != null)
                {
                    foreach (var item in Model.Discounts)
                    {
                        <div class="price-info">
                            <span class="ship-fee">@item.ShowName</span>
                            <span class="price">-@Convert.ToDecimal(item.PriceOff).ToString("N0") đ</span>
                        </div>
                    }
                }
                <div class="price-info">
                    Tổng số tiền (Bạn cần thanh toán)
                    <span class="price-total">@Model.CartTotalShipFee.ToString("N0") đ</span>
                </div>
            </div>
        }
        else
        {
            <div class="no-cart">
                <div class="title">Thông tin giỏ hàng</div>
                <img src="~/Content/images/img-main/giỏ-hàng.png" alt="Giỏ hàng" />
                <div class="sub-text">Giỏ hàng trống. Mua sắm ngay!</div>
            </div>
        }
    </div>
</section>
<a href="tel:@config.Hotline" class="phone-fixed">
    <img src="~/Content/images/img-main/phone.png" alt="Phone" />
</a>
@section scripts {
    <script src="~/Scripts/jquery.nice-number.js"></script>
    <script>
        $(".input-number").niceNumber();
        cart();
    </script>
}