@model Doris.Models.Bank
@{
    ViewBag.Title = "Thêm thông tin thanh toán";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Thêm thông tin thanh toán</h2>
@if (ViewBag.ArticleCat == "success")
{
    <div id="AlertBox" class="alert alert-success"><strong>Thêm thông tin thanh toán thành công</strong></div>
}
@if (ViewBag.ArticleCat == "update")
{
    <div id="AlertBox" class="alert alert-success"><strong>Cập nhật thông tin thanh thành công</strong></div>
}
<a class="btn quick-link" id="create-cat" href="#list-cat"><i class="far fa-list mr-1"></i> Danh sách thông tin thanh toán</a>
<div class="box_content">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            @using (Html.BeginForm("Bank", "Vcms", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                <table class="form_table form-table-cat">
                    <tr>
                        <td class="form_name">@Html.LabelFor(a => Model.Name)</td>
                        <td class="form_text">@Html.EditorFor(a => Model.Name)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(a => Model.Image)</td>
                        <td class="form_text">
                            @Html.TextBoxFor(a => Model.Image, new { type = "file" })<span class="red-warring">Chấp nhận ảnh jpg, png, gif, jpeg < 4MB</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(a => Model.Sort)</td>
                        <td class="form_text">@Html.EditorFor(a => Model.Sort)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(a => Model.Active)</td>
                        <td class="form_text">@Html.CheckBoxFor(a => Model.Active, new { @checked = "checked" })</td>
                    </tr>
                    <tr>
                        <td class="form_name"></td>
                        <td class="form_text">
                            <input type="submit" class="btn quick-link" value="Thêm mới" />
                        </td>
                    </tr>
                </table>
            }
        </div>
        <div class="col-sm-12 col-lg-12">
            @Html.Action("ListBank", "Vcms")
        </div>
    </div>
</div>