@model Doris.ViewModel.ChangePasswordModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<section class="notify">
    Nhập hàng giá sỉ, chiết khấu cao đến 60% !
</section>
<section class="user">
    <div class="container">
        @if (ViewBag.Result == "success")
        {
            <div id="AlertBox" class="success">
                <i class="fa-solid fa-check"></i> Đổi mật khẩu thành công
            </div>
        }
        <div class="title-section">Thay đổi mật khẩu</div>
        <div class="row">
            <div class="col-lg-5">
                @Html.Action("UserNav")
            </div>
            <div class="col-lg-7">
                <div class="box-user change-password h-100">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(a => a.UserId)

                        <div class="form-group">
                            @Html.LabelFor(a => a.OldPassword)
                            @Html.PasswordFor(a => a.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.OldPassword)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(a => a.Password)
                            @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Password)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(a => a.ConfirmPassword)
                            @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.ConfirmPassword)
                        </div>
                        <button type="submit">
                            Thay đổi mật khẩu
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>