@model Doris.ViewModel.CategoryProductViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = Model.Category.TitleMeta ?? Model.Category.CategoryName;
    ViewBag.Description = Model.Category.DescriptionMeta ?? Model.Category.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("ProductCategory", "Home", new { url = Model.Category.Url });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-pink page-pb">
    <div class="container">
        <div class="title-page title-border">
            <button onclick="history.back()" class="history-back"><i class="fa-regular fa-arrow-left"></i></button>
            @if (Model.Category.Image != null)
            {
                <div class="brand-image">
                    <img src="@Path.Combine("/images/productCategory/", Model.Category.Image)" alt="@Model.Category.CategoryName" />
                </div>
            }
            else
            {
                <div class="title">@Model.Category.CategoryName</div>
            }
        </div>
        @if (Model.Products.Any())
        {
            <div class="row">
                @foreach (var item in Model.Products)
                {
                    <div class="col-6 mb-2">
                        @Html.Partial("_ProductItemMobile", item)
                    </div>
                }
                @if (Model.Products.PageCount > 1)
                {
                    <div class="col-12 d-flex justify-content-center">
                        @Html.PagedListPager(Model.Products, page => Url.Action("ProductCategory", "Home", new { page, url = Model.Url }))
                    </div>
                }
            </div>
        }
        else
        {
            <p class="alert alert-success small">Nội dung hiện chưa được cập nhật. Vui lòng quay lại sau !!!!</p>
        }
    </div>
</section>