@model Doris.ViewModel.UserLoginModel
@using Doris.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="wrap-account">
        <div class="box-left">
            @if (config.Image != null)
            {
                <img src="@Path.Combine("/images/configs/", config.Image)" alt="@config.Title" class="logo-img" />
            }
            <div class="title">
                Nền tảng mua bán sỉ<br />
                <b>mỹ phẩm chính hãng</b>
            </div>
            <img src="~/Content/images/img-main/device.png" alt="" class="device-img" />
        </div>
        <div class="box-right">
            <div class="title-account">Đăng nhập</div>
            <div class="form-account">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(a => a.Username)
                        @Html.TextBoxFor(a => a.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Username)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Password)
                        @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Password)
                    </div>
                    <button type="submit">
                        Đăng nhập
                    </button>
                }
            </div>
            <div class="text-account">
                Chưa có tài khoản? <a href="@Url.Action("Register")">Đăng ký tại đây</a>
            </div>
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval")
</body>
</html>